body {
    background-image: url("https://image.freepik.com/foto-gratis/fondo-gris-pintado_53876-94041.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Mohave', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Orbitron', sans-serif;
    }

main{
  width: 80%;
  margin: auto;
  }

.card{
  align-items: center;
  margin: 0 auto;

 
}
#coderList{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:rgb(228, 24, 24);
  align-items: center;
}
#showCoders{
 width: 200px;
 height: 200px;
 margin-bottom: 30px;
 border-radius: 10px;
 background-color: antiquewhite;
 border: solid 2px red;
 background-image: url("img/shooting.png");
 background-size: cover;
 text-align: center;
 display: flex;
 align-items: center;
}
#textoCarta{
  margin: 0 auto; 
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}
.showname{
text-align: center;

}

 #nombreElegido{
  margin: 0 auto; 
  color:rgb(228, 24, 24);
  text-align: center;
  align-self: center;
  font-size: 16px;
}
header {
  display: block;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.logo img{
  height: 200px;
  width: 200px;
  overflow: hidden;

}

button {
    margin: 15px;
    background-color: #851717;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .botones {
    text-align: center;
  }

  




