/*variables css*/
:root{
  --primary-color: hsl(214,84%, 56%);
  --text-color:  hsl(0,0%,31%);
  --bg-color: hsl(0,0%,90%);
  --bg-card-color: hls(0,0%, 98%);

}
*{
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    background-image: url("https://image.freepik.com/foto-gratis/fondo-gris-pintado_53876-94041.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Mohave', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Orbitron', sans-serif;
  }

  body.navidad{
    --text-color: hls(0,0%,83%);
    --bg-color: hls(0,0%,45%);
  }

header {
      display: block;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 30px;
      margin-top: 20px;
      height: 75px;
    }
  .botones{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 1.5em;
    margin-top: 250px;
    
   
  } 
  .btnChanges{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .toggle{
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .toggle_theme_icon{
    margin-right: 0.5em;
    width: 15px;
  }
  .toggle-theme-text{
    font-size: 0.8rem ;
  }


    
.logo img {
      height: 200px;
      width: 200px;
      overflow: hidden;
    }
h1{
  color:  #851717;
  

}
main{
    width: 90%;
    margin: auto;
  }



button {
    margin: 15px;
    background-color: #851717;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; /*manito de interaccion*/
  }

  .switch {
    cursor: pointer;
    display: flex;
    outline: none; /* para quitar borde que google le agrega */
    }

#showCoders {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: antiquewhite;
    border: solid 2px red;
    background-image: url("img/shooting.png");
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
   }
   
.card {
    align-items: center;
    margin: 0 auto;
    }
    
  #nombreElegido {
    color:red;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px;
    margin: auto;
    } 

#coderList {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color:rgb(228, 24, 24);
  align-items: center;
 }

#textoCarta{
  margin: 0 auto; 
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}








  
  

  




